<footer class="text-center">
        <hr/>
        <span class="">© <%= new Date().getFullYear() %> <a href="#" >SPL-DP</a>. All Rights Reserved.</span>
    </div>
</footer>


    <!-- Bootstrap JS (Optional, if you need JavaScript functionality) -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>