<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <!-- Bootstrap CSS -->
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <style>
      /* Additional Custom Styling */
      body {
        padding: 20px;
      }
      .center-content {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
      }
      .list-group-item {
        text-align: center;
      }
    </style>
  </head>
  <body></body>
<<<<<<< HEAD
</html>
=======
</html>
>>>>>>> f2a017ad2f563febaa3f01ff9e37379eef2ec831
